@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: black;
    width: 100%;
    margin: 0;
}

.header {
    font-size: 1.7em;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo {
    width: 250px;
    margin: 0 20px;
}

.logo__img {
    width: 100%;
    overflow: hidden;
}

.header__flex-column {
    display: flex;
    flex-direction: column;
    min-width: 60%;
}

.header__flex-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.header__flex-row--right {
    justify-content: flex-end;
}

.header__flex-row--btw {
    justify-content: space-between;
}

.header-navbar {
    display: block;
    list-style: none;
    padding: 0;
    background-color: black;
}

.header-navbar__item {
    display: inline-block;
}

.header-navbar__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.social-bar {
    list-style: none;
    padding: 0;
    font-size: 1.7em;
    background-color: black;
    color: gray;
    display: block;
}

.social-bar__item {
    display: inline-block;
}

.social-bar__link {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    padding: 10px;
}

/*
===========================
       MAIN SECTION
===========================
*/

.banner {
    width: 100%;    
}

.banner__img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}